<!doctype html>
<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>QUORA</title>

  </head>

  <body>

    <style type="text/css">body{font-family:'Noto Sans',sans-serif;background-color:white;background-image:url(https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-031.jpg);background-repeat:no-repeat;background-position:center center;margin:6px 0 0 6px}.h7{font-size:0.8rem}.gedf-wrapper{margin-top:0.97rem}@media screen and (max-width:600px) {.left,.main,.right{width:100%}.gedf-main{padding-left:4rem;padding-right:4rem}.gedf-card{margin-bottom:2.77rem}}.dropdown-toggle::after{content:none;display:none}.button{background-color:gold;border:none;color:black;padding:2px 15px;text-align:center;text-decoration:none;display:inline-block;font-weight:bold;border:1px solid silver;border-radius:5px;font-size:0.7em;cursor: pointer}.button:hover{background-color:black;color:gold}.button1{color:gold;padding:8px 10px;border:1px solid silver;font-size:0.8em;border-radius:5px;display:inline}.pye3{font-size:0.8rem}.pye4{font-size:0.7rem;color:silver}.pye5{text-align:right;float:right;padding:1px 5px}.pye6{margin:10px 20px}.pye7{margin:10px 25px;padding:5px 1px}.pye{background-color:#eeeeee;color:black;text-align:left;padding:20px 25px;margin:20px 15px;width:440px;font-size:18px;font-weight:normal;display:inline-block;border-radius:15px}.pye2{color:white;text-align:left;font-size:1.2em;padding:10px 15px;width:500px;border:1px solid silver;border-radius:5px}.txtarea{border:2px solid #ccc;border-radius:4px; background-color:#f8f8f8;resize:none;box-sizing:border-box} </style>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/" title="Home"><font color="gold">Home</font> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category" title="List Questions by Categories"><font color="gold">Categories</font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/questions" title="Post A New Question"><font color="gold">New Question</font></a>
          </li>
        </ul>
        <form action="/search" class="form-inline mt-2 mt-md-0">
          <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search Quora" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><font color="white">Search</font></button>
        </form>
      </div>
    </nav>

    <section class='container'>
      <%= yield %>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

  </body>
</html>
