<br>
<div class="pye2 bg-dark">
	<div class="pye5 pye6"><font color="gold">Post A New Question</font></div>
	<div class="pye6">
		<form action="/questions" method="post">
			<select name="question[category]">
				<option hidden="true">--Category--</option>
				<% Questions.new.catz.each do |c| %>
				<option value="<%= c %>"><%= c %></option>
				<% end %>
			</select>
			<br>
			<textarea class="txtarea" name="question[title]" placeholder="Title" cols="40" rows="1"></textarea>
			<br>
			<textarea class="txtarea" name="question[content]" cols="40" rows="10" placeholder="Describe your question."></textarea>
			<br>
			<button class="button1 bg-dark" type="submit" name="question[id]" value="<%= @qd %>">Submit</button>
			<a href="/"><input class="button1 bg-dark" type="button" value="Cancel"></a>
		</form>
	</div>
</div>
<br>
<br>
